body {
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    flex-direction: column;
    gap: 2rem;
}

.card {
    padding: 22px;
    margin: 1rem;
    max-width: 20rem;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.qrcode-image {
    max-width: 100%;
    border-radius: 15px;
    display: block
}

.bold {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
}

.lite {
    font-size: 1.2rem;
    color: gray;
    max-width: 88%;
    margin-top: -15px;
}

footer {
    position: fixed;
    bottom: 0;
}